In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
path = 'https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/car_train.csv'
df = pd.read_csv(path)
df.head()

       car_id              model  ... target_reg target_class
0  y13744087j     Kia Rio X-line  ...     108.53  another_bug
1  O41613818T         VW Polo VI  ...      35.20  electro_bug
2  d-2109686j    Renault Sandero  ...      38.62   gear_stick
3  u29695600e  Mercedes-Benz GLC  ...      30.34  engine_fuel
4  N-8915870N    Renault Sandero  ...      30.45  engine_fuel

[5 rows x 10 columns]

In [11]:
df['target_class'].unique()

array(['another_bug', 'electro_bug', 'gear_stick', 'engine_fuel',
       'engine_ignition', 'engine_overheat', 'engine_check',
       'wheel_shake', 'break_bug'], dtype=object)